{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    

    <div  id="emails-view" >
    </div>

    <div id="check-email">
       
    </div>

    <div class="border p-0 m-0" id="compose-view">
        <h3 class="border-bottom py-2 pl-3 mb-2" id="title">New Email</h3>
        <form id="compose-form" class="px-md-3 px-sm-0 pt-3">
            <div class="form-group border-bottom mx-2">
                 <div class="input-group">
                    <div class="input-group-prepend ">
                      <span class="input-group-text bg-white border-0" id="From">From</span>
                    </div>
                    <input disabled class="form-control bg-white" value="{{ request.user.email }}">
                  </div>
            </div>
            <div class="form-group border-bottom mx-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-white border-0" id="to">To</span>
                    </div>
                    <input id="compose-recipients" class="form-control" >
                  </div>
            </div>
            <div class="form-group border-bottom mx-2 mb-1" >
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <div  id="compose-body" class="mx-2"></div>
            <button type="submit" class="btn btn-primary ml-3" id="submit-btn"><i class='fas fa-paper-plane pr-2'></i>Send</button>
        </form>
    </div>  

{% endblock %}

{% block script %}

    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}