{% extends "mail/layout.html" %}

{% block body %}

    <div class="col col-sm-8 col-md-7 col-lg-4 mx-auto ">
        <div class="card border rounded-lg mt-5 p-5 m-2 shadow-sm">
        <div class="card-body text-center">
           <img src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r2.png"  aria-hidden="true" style="width:109px;height:40px">
            <h3 class="card-title mt-3 mb-0 pb-0 font-weight-normal">Sign in</h3>
            <p class="mb-4 ">to continue to Gmail</p>
            {% if message %}
            <div>{{ message }}</div>
            {% endif %}
    
            <form action="{% url 'login' %}" method="post" >
            {% csrf_token %}
            <div class="form-group border-bottom pr-2">
                <input autofocus class="form-control" type="text" name="email" placeholder="Username" value="john@gmail.com">
            </div>
            <div class="form-group border-bottom">
                <input class="form-control" type="password" name="password" placeholder="Password" value="1">
            </div>
            <input class="btn btn-primary col-md-6 my-3" type="submit" value="Login">
            </form>
    
            Don't have an account? <a href="{% url 'register' %}">Register here.</a>
    
        </div>
    </div>
    </div>
{% endblock %}
